body {
		background-image: url("http://ix.cs.uoregon.edu/~djg/mroom.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
}

p 	 {
		color: black;
		margin-top: 2%;
		font-size: 120%;
}

.navbar {
		padding: 1%;
		padding-top: 1%;
		padding-bottom: 2%;
		background-color: default;
}

.container {	
		background-color: white;
		width: 80%;
		height: 70%;
		/*padding-bottom: 20%;*/
		border-radius: 5%;
		text-align: center;
}

