body {
		background-image: url("http://ix.cs.uoregon.edu/~djg/mroom.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
}

p 	 {
		color: black;
		margin-top: 2%;
		font-size: 120%;
}

label input[type="radio"] {
  display: none;
}
label input[type="radio"] ~ span {
  position: relative;
  display: inline-block;
  padding: 3px 0 3px 25px;
}
label input[type="radio"] ~ span:before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  background: #fff;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}
label input[type="radio"]:checked ~ span:before {
  border: 5px solid #29d;
}

.navbar {
		padding: 1%;
		padding-top: 1%;
		padding-bottom: 2%;
		background-color: default;
}

.container {	
		background-color: white;
		width: 80%;
		height: 70%;
		/*padding-bottom: 20%;*/
		border-radius: 5%;
		text-align: center;
}
