<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../static/css/busy.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/welcome.css">

</head>
<body> 
	<h1><b>Meeting Scheduler</b></h1>
	<div class="container">
    <div class="section">
  		<p style="outline-color:white; font-size: 120%;"> Propose a meeting with a new ID or complete an exisiting proposal with your meeting's ID</p>
  		<div class="idinput">
  				<input placeholder="4 digit ID" style="height:40px; color:black; font-size:150%" pattern="[0-9]{4}" maxlength="4" size="5%" id="ID">
          </br><span class="idError" style="outline-color:white; font-size: 120%;" id="idError"></span>
  		</div>
    </div>
	</div>
  <div style="text-align:center; margin:auto;">
			<button class="button button1 btn-lg" onclick="create()">Create new proposal</button>
			<button class="button button2 btn-lg" onclick="finalize()">Open existing proposal</button>
	</div>
</body>
</html>

<script>
function create() {
  elem = document.getElementById("ID");
  if (elem.checkValidity() == true && elem.value != "") {
      location.href = '/mainpage?ID='+elem.value;
  }
  else {
      document.getElementById("idError").innerHTML = "You must enter a 4 digit id";
      return false;
  }
}
function finalize() {
  elem = document.getElementById("ID");
  if (elem.checkValidity() == true && elem.value != "") {
      location.href = '/finalize?ID='+elem.value;
  }
  else {
      document.getElementById("idError").innerHTML = "You must enter a 4 digit id";
      return false;
  }
}

</script>