<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../static/css/busy.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/welcome.css">

</head>
<body> 
	<h1>Meeting Scheduler</h1>
	<div class="container">
		<p style="outline-color:white;"> Propose a new meeting or complete an exisiting proposal </p>
		<form>
				<input type="text" placeholder="Please enter 4 digit ID" style="height:40px;" size="25%" name="ID">
		</form>
	</div>
  <div style="text-align:center; margin:auto;">
			<button class="button button1 btn-lg" onclick="location.href='/mainpage';">Create new proposal</button>
			<button class="button button2 btn-lg" onclick="location.href='/finalize';">Open existing proposal</button>
	</div>
</body>
</html>